.clients {
  padding: 60px 0;
}
.clients-title {
  margin-bottom: 30px;
  @include font($primFont, normal, 700, 28px, 33px);
  letter-spacing: 0.03em;
  color: $secTextColor;
  text-align: center;
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 100%;
  border: 1px solid $iconColor;
  border-radius: 4px;
  color: $iconColor;
  transition: all $transSet;
  &:hover,
  &:focus,
  &:active {
    color: $accentColor;
    border-color: $accentColor;
  }
}
.clients-icon {
  fill: currentColor;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .clients-item {
    width: calc((100% - 30px) / 2);
  }
  .clients-item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .clients-item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item {
    width: calc((100% - 60px) / 3);
  }
  .clients-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .clients-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
  .clients-title {
    margin-bottom: 50px;
    @include font($primFont, normal, 700, 36px, 42px);
  }
  .clients-item {
    width: calc((100% - 150px) / 6);
  }
  .clients-item:not(:last-child) {
    margin-right: 30px;
  }
}
