.header {
  border-bottom: 1px solid #ececec;
}
.logo {
  display: inline-block;
  @include font($secFont, normal, 700, 24px, 28px);
  letter-spacing: 0.03em;
  color: $accentColor;
  &-dark {
    color: #000000;
  }
  &-light {
    color: #ffffff;
  }
}
.navigation-list-link {
  @include font($primFont, normal, 500, 18px, 21px);
  letter-spacing: 0.02em;
  color: $secTextColor;
  transition: all $transSet;
  &:hover,
  &:focus,
  &:active {
    color: $accentColor;
  }
}
.addres-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  @include font($primFont, normal, 500, 18px, 21px);
  letter-spacing: 0.02em;
  color: $primTextColor;
  transition: all $transSet;
  &:hover,
  &:focus,
  &:active {
    color: $accentColor;
  }
}
.navigation-list-item.current a {
  color: $accentColor;
}
.addres-icon {
  margin-right: 10px;
  fill: currentColor;
}
.mob-button {
  display: none;
}

// ================ phone ================

@media screen and (max-width: 767px) {
  .icon-close {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .mob-button.is-open .icon-close {
    display: block;
  }
  .mob-button.is-open .icon-menu {
    display: none;
  }
  .mob-menu.is-open {
    display: block;
  }
  .header {
    position: relative;
    padding: 15px 0;
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .mob-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    text-align: center;

    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 10;
  }

  .navigation-list-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .addres-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .navigation {
    margin-bottom: 60px;
  }
  .navigation-list-item.current a {
    position: relative;
    // color: $accentColor;
  }
  .navigation-list-item.current a::before {
    position: absolute;
    content: ' ';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -8px;
    background-color: $accentColor;
    border-radius: 2px;
  }
  .mob-button {
    display: block;
    border: none;
    color: $secTextColor;
    background-color: #ffffff;
    // outline: none;
    transition: $transSet;
    &:hover,
    &:focus,
    &:active {
      color: $accentColor;
    }
  }
  .mob-icon {
    fill: currentColor;
  }
}
// ================ tablet ================
@media screen and (min-width: 768px) {
  .header {
    padding: 21px 0;
    .container {
      display: flex;
      align-items: center;
    }
    .logo {
      margin-right: 88px;
    }
  }

  .mob-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  .navigation-list {
    display: flex;
  }
  .navigation-list-item:not(:last-child) {
    margin-right: 50px;
  }

  .navigation-list-link {
    padding: 32px 0;

    @include font($primFont, normal, 500, 14px, 16px);
  }
  .navigation-list-item.current a {
    position: relative;
  }
  .navigation-list-item.current a {
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      background-color: $accentColor;
      border-radius: 2px;
      bottom: 1px;
      left: 0;
    }
  }
  .addres-list-link {
    @include font($primFont, normal, 500, 14px, 16px);
    justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .addres-list-link {
    @include font($primFont, normal, 500, 12px, 14px);
    justify-content: flex-start;
  }
  .addres-list-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .addres-icon[width='10'] {
    width: 10px;
    height: 14px;
  }
  .addres-icon[width='16'] {
    width: 14px;
    height: 10px;
  }
  .addres-icon {
    margin-right: 8px;
  }
}
// ================ desktop ================
@media screen and (min-width: 1200px) {
  .header {
    padding: 26px 0;
    .logo {
      margin-right: 93px;
    }
  }
  .addres-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .addres-list-item:not(:last-child) {
    margin-right: 30px;
  }
}
