$primFont: 'Roboto', sans-serif;
$secFont: 'Raleway', sans-serif;

$primTextColor: #757575;
$secTextColor: #212121;

$accentColor: #2196f3;
$buttonAccentColor: #188ce8;

$lightBgColor: #f5f4fa;
$darkBgColor: #2f303a;
$iconColor: #afb1b8;

$transSet: 250ms cubic-bezier(0.4, 0, 0.2, 1);
